/* -----------------------------------------------------------------------------------------------------
                                     GLOBAL VARIABLES STARTS
----------------------------------------------------------------------------------------------------- */

$font-stack: 'Calibri', 'Myriad Pro', 'Helvetica', 'Arial';

$color-main: #4a4a4a;
$color-main-bg: #ffffff;
$color-main-faded: rgba(255, 255, 255, 0.5);
$color-main-opacity: rgba(204, 51, 51, 0.5);
$color-font: #333;

$color-highlight: #AEDEEA;
$color-highlight-font: #4a4a4a;

$color-cta: #3e60b3;
$color-cta-font: #fff;
$color-visited: #666;
$color-disabled: #ddd;

$color-blue: #3e60b3;
$color-lightblue: #80ced8;
$color-green: #4BBD94;
$color-red: #cc3334;
$color-result-true: #4BBD94;
$color-result-false: #cc3334;

$color-nav: rgba(255, 255, 255, 1);
$color-nav-disabled: rgba(255, 255, 255, 0.25);
$color-nav-hover: rgba(255, 255, 255, 0.5);

$color-font-default: #4a4a4a;

$color-dark-opacity: rgba(0, 0, 0, 0.5);

$border-radius-buttons: 0px;

$color-brand: #cc3334;
/* -------------------------------------------------
	               GLOBAL VARIABLES ENDS
------------------------------------------------- */
