<ng-container *ngIf="this?.activePage">
  <div class="header-wrapper" #header>

    <app-header
      [heading]="this.activePage.content[this.contentId].headings?.heading"
      [activePage]="this?.activePage"
      [ngClass]="[this.activePage?.pagetype ? 'header-' + this.activePage?.pagetype : 'header-generic', this.activePage?.display_main ? 'nav-displayed' : 'nav-hidden']"
      [activePageId]="this?.activePageId">
    </app-header>
  </div>
  <div class="canvas-wrapper" #canvas
       [style.width.px]="this.canvasSize?.x"
       [style.height.px]="this.canvasSize?.y">
    <app-figcaption
      *ngIf="this.activePage.content[0].headings.text"
      [text]="this.activePage.content[0].headings?.text"
      [class]="'centerPadding'">
    </app-figcaption>
  </div>
  <div class="content-wrapper" #content>
  </div>
</ng-container>
