<!--<ng-container *ngIf="this?.activePage" [ngSwitch]="this.activePage.pagetype">
    <app-titlescreen
      *ngSwitchCase="'titlescreen'"
      [activePage]="this.activePage"
      [activePageId]="this.activePageId">
    </app-titlescreen>
    <app-figurefigcaption
      *ngSwitchCase="'staticimage'"
      [activePage]="this.activePage"
      [activePageId]="this.activePageId">
    </app-figurefigcaption>
    <app-question
      *ngSwitchCase="'question'"
      [activePage]="this.activePage"
      [activePageId]="this.activePageId">
    </app-question>
    <app-speedometer
      *ngSwitchCase="'speedometer'"
      [activePage]="this.activePage"
      [activePageId]="this.activePageId">
    </app-speedometer>
    <app-custom
      *ngSwitchCase="'custom'"
      [activePage]="this.activePage"
      [activePageId]="this.activePageId">
    </app-custom>
</ng-container>
-->