<ng-container *ngIf="this?.activePage">
  <div class="header-wrapper" #header>
    <app-header
      [heading]="this.activePage.content[this.contentId].headings?.heading"
      [activePage]="this?.activePage"
      [ngClass]="this.activePage?.pagetype ? 'header-' + this.activePage?.pagetype : 'header-generic'"
      [activePageId]="this?.activePageId">
    </app-header>
  </div>
  <div class="canvas-wrapper" #canvas
       [style.width.px]="this.canvasSize?.x"
       [style.height.px]="this.canvasSize?.y">
    <ng-container *ngIf="this.activeContent.content.headings?.img">
      <div class="logos-{{this.activeContent.content.headings.img?.length}}">
        <app-figure
          [ngClass]="[this?.pageLoaded ? 'loaded' : 'loading']"
          [imgData]="this.activeContent.content.headings?.img[i].src"
          class="section-logo lessonType-{{ this.lessonDataService.lessonType }}"
          *ngFor="let img of this.activeContent.content.headings?.img; let i = index">
        </app-figure>
      </div>
    </ng-container>
    <ng-container *ngIf="this.activeContent.content.headings?.src">
      <app-figure
        [ngClass]="[this?.pageLoaded ? 'loaded' : 'loading']"
        [imgData]="this.activeContent.content.headings?.src"
        class="section-logo lessonType-{{ this.lessonDataService.lessonType }}">
      </app-figure>
    </ng-container>
    <app-marker
      *ngFor="let marker of this.activeContent.markers; let i = index; let first = first; let last = last"
      [ngClass]="[marker.settings?.link ? 'link' : 'noLink', this?.pageLoaded ? 'loaded' : 'loading', +marker.settings.active ? 'selected': 'idle', this.marker.settings.class ? this.marker.settings.class : 'marker-inert']"
      [id]="i"
      [markerData]="marker"
      [style.width.%]="100 / this.activeContent.markers.length"
      (click)="marker.settings?.link && marker.settings.active !== '1' ? this.sectionLink(+marker.settings?.link) : marker.settings?.link && marker.settings.active === '2' ? this.lessonDataService.gotoTask(+this?.activePageId + 1) : false">
    </app-marker>

  </div>
  <div class="content-wrapper" #content>
    <app-figcaption
      [heading]="this.activePage.content[this.contentId].figcaption.heading"
      [text]="this.activePage.content[this.contentId].figcaption.text">
    </app-figcaption>
  </div>
</ng-container>
