@charset "utf-8";

@import "../../../../../../assets/scss/mixins",
        "../../../../../../assets/scss/variables";

:host {
    .canvas-wrapper {
        app-video {
      
        }
        &.sizeInit {
          transition: 250ms height ease-in-out;
      
        }
        .preload-text {
          position: absolute;
          top: 50%;
          transform: translate(0%, -50%);
      
          width: 92%;
          left: 2em;
      
          &.rtl {
            left: initial;
            right: 2em;
          }
        }
      }
    .display-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        // transition: 250ms opacity ease-in-out;
        transition: 250ms all ease-in-out;
        &.show {
          opacity: 1;
        }
        &.hide {
          opacity: 0;
        }

        .vid-container {
            position: absolute;
            height: 100%;
            width: 100%;

            transition: 250ms opacity ease-in-out;

            app-video {
                position: absolute;
                height: 100%;
                width: 100%;
            }
        }

        .btn-wrapper {
            width: 10em;
    
            z-index: 1;
            position: absolute;
            bottom: 0;
            right: 0;
            &:hover {
                cursor: pointer;
            }
        }

    }
    

}