@charset "utf-8";

@import "../../../../../../assets/scss/mixins",
"../../../../../../assets/scss/variables";

:host {

  float: left;
  .content-wrapper {
    padding-left: 2em;
    width: calc(98% - 2em);

    &.rtl {
      padding-left: 0em;
      padding-right: 2em;
      width: calc(98% - 2em);
      float: right;
    }
  }
}

app-figure {
  position: relative;
  float: left;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: all 250ms ease-in-out;

  &.active {
    opacity: 1;
    transition: all 250ms ease-in-out 250ms;
  }
}

app-figcaption {
  float: left;
  width: 100%;
}

.button-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  app-standard {
    position: absolute;
    cursor: default;

    &.giveup.complete {
      opacity: 0;
    }
  }
}
