<ng-container *ngIf="this?.videoUrl || this?.videoArray">
  <div class="video-wrapper" #videoWrapper [ngClass]="{'complete': this?.finishVid}">
      <ng-container *ngIf="this?.videoUrl">
          <video #videoPlayer
            class="{{this?.class}}"
            height="9"
            width="16"
            poster="{{this.globalService?.assetsurl}}{{this?.videoPoster}}"
            [attr.playsinline]="this.playsinline ? 'true' : null"
            [attr.webkit-playsinline]="this.playsinline ? 'true' : null"
            >
            <source
              type="video/mp4;"
              codecs="avc1.42E01E, mp4a.40.2"
              [src]="this.globalService?.assetsurl + this?.videoUrl"
              class="vid-mp4"
              #videoSource>
            <p>Sorry, your browser does not support the &lt;video&gt; element.</p>
          </video>
          <img class="poster" *ngIf="!this.hidePoster" src="{{this.globalService?.assetsurl}}{{this?.videoPoster}}">
        </ng-container>

      <app-standard
        class="video-icon"
        [icon]="icon.icon?.name"
        [type]="'material-icon'"
        [style.left.%]="icon.icon?.x"
        [style.top.%]="icon.icon?.y"
        [style.font-size.em]="icon.icon?.size"
        [style.color]="icon.icon?.color"
        *ngFor="let icon of this?.icons"
      ></app-standard>
    <img *ngIf="this?.overlay" src="{{this.globalService?.assetsurl}}{{this.overlay}}" class="overlay-img">
    <div class="overlay overlay-{{this?.class}}"
      (click)="(+this.pauseable === 1) || (+this?.controls === 1) ? togglePlayback() : (+this.disableClick === 1) ? null : play()"
      [ngClass]="[(+this.disableClick === 1) ? 'disableClick' : 'enableClick']"></div>

    <!-- *ngIf="(+this.pauseable === 1) || (+this?.controls === 1)" -->

    <ng-container *ngIf="(+this?.controls === 1) || (+this?.timeline === 1) || (+this.pauseable === 1)">
      <app-standard
        [icon]="'play_circle_filled'"
        [type]="'material-icon'"
        (click)="(+this.pauseable === 1) || (+this?.controls === 1) ? togglePlayback() : play()"
        *ngIf="!this?.vidPlay && this.btnPlay"
        class="btn-center-play">
      </app-standard>
      <div class="customControls" [ngClass]="[this?.theme ? 'controls-' + this?.theme : 'controls-normal']">
        <ng-container *ngIf="+this?.controls === 1">
          <div class="btn-wrapper">
            <div class="btn-center">
              <app-standard [icon]="'pause_circle_filled'" [type]="'material-icon'"(click)="togglePlayback()" *ngIf="this?.vidPlay"></app-standard>
              <app-standard [icon]="'play_circle_filled'" [type]="'material-icon'"(click)="togglePlayback()" *ngIf="!this?.vidPlay"></app-standard>
              <app-standard [icon]="'skip_previous'" [type]="'material-icon'" (click)="restart()"></app-standard>
              <app-standard [icon]="'replay_10'" [type]="'material-icon'" (click)="replay10()"></app-standard>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="+this?.timeline === 1">
          <div class="timeline-wrapper" [ngClass]="[+this?.controls !== 1 ? 'fullwidth' : 'normal', this?.theme ? 'timeline-' + this?.theme : 'timeline-normal']">
            <div class="timeline">
              <div class="progress"
              [style.left.%]="this.percentComplete"></div>
              <ng-container *ngIf="this?.videoPlayer">
                <ul class="markers">
                  <li
                    class="marker"
                    *ngFor="let marker of this?.markers"
                    [ngClass]="[marker.status ? marker.status : 'idle']"
                    [ngStyle]="{'left': 100 / this?.videoDuration * marker.time + '%'}"></li>
                </ul>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>

  </div>
</ng-container>